body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#details_student{
    margin-top: 50px;
}

.pagination li.active {
    background-color: #009688;
}

#logo{
    height: 50px;
    margin: 5px;
}

footer{
    margin-top: 50px;
}
ul.select-dropdown li span{
    color: #03a9f4;
}
#logo{
    transition-duration: 0.2s;
}
@media screen and (max-width: 1650px) {
    #logo{
        display: none;
    }
}